---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://sitesoncall.com/</loc>
  </url>
  <url>
    <loc>https://sitesoncall.com/articles/</loc>
  </url>
  <url>
    <loc>https://sitesoncall.com/the-build/</loc>
  </url>
  {%- for article in articles %}
  <url>
    <loc>https://sitesoncall.com{{ article.url }}</loc>
  </url>
  {%- endfor %}
</urlset>
